{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<header class="main-header post-head" style="background-image: url({{asset "images/smallcover.jpg"}})">
	<nav class="main-nav overlay clearfix">
		<a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
		<a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">RSS</a>
	</nav>
</header>

<main class="content" role="main">

    <article class="{{post_class}}">
    {{! Everything inside the #post tags pulls data from the post }}
    {{#post}}
        {{#contentFor "metaOff"}}
            <meta property="og:title" content="{{title}}" />
            <meta property="og:type" content="website" />
            <meta property="og:description" content="{{excerpt characters="220"}}..."/>
            <meta property="og:site_name" content="{{meta_title}}"/>
            <meta property="og:url" content="http://mindingourway.com{{url}}"/>

            <meta name="twitter:card" content="summary"/>
            <meta name="twitter:title" content="{{title}}"/>
            <meta name="twitter:description" content="{{excerpt characters="220"}}"/>
        {{/contentFor}}

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="/about/" style="background-image: url({{image}})" title="About the author"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>

        {{/author}}
		<section class="newsletter-form-small" style="margin: -15px 0 0 -5px;">
          {{!-- <h4>Get the latest posts by email</h4> --}}
          <form action="//mindingourway.us11.list-manage.com/subscribe/post?u=b61a87ff1a0bb74378bceab60&amp;id=a0a0006de5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
            <div>
              <input type="email" value="" placeholder="your email address" name="EMAIL" class="newsletter-email-input" id="mce-EMAIL">
              <input type="submit" value="Subscribe to new posts by email" name="subscribe" id="mc-embedded-subscribe" class="subscribe-button newsletter-button">
            </div>
            <div style="clear: both; padding-top: 16px;">
              <div id="mce-error-response" style="display:none; color: rgb(87, 32, 25);"></div>
              <div id="mce-success-response" style="display:none; color: rgb(41, 77, 41);"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_b61a87ff1a0bb74378bceab60_a0a0006de5" tabindex="-1" value="">
            </div>
          </form>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        </section>

        <section class="share">
			<h4>Share this post</h4>
			<a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
				onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
				<span class="hidden">Twitter</span>
			</a>
			<a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
				onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
				<span class="hidden">Facebook</span>
			</a>
			<a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
			   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
				<span class="hidden">Google+</span>
			</a>
		</section>

        <section class="navigation">
          <p>
		  	{{#prev_post}}
            <a href="{{url}}" class="left navlink">« {{title}}</a>
			{{else}}
            {{/prev_post}}
		  	{{#next_post}}
            <a href="{{url}}" class="right navlink">{{title}} »</a>
			{{else}}
            {{/next_post}}
          </p>
        </section>

        </footer>

    {{/post}}

	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'so8res';
		var disqus_identifier = '{{post.id}}';
		(function() {
			var dsq = document.createElement('script');
			dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] ||
				document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the
		<a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	</noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by
		<span class="logo-disqus">Disqus</span></a>

    </article>

</main>
